/*------------------------------------------------------------
      Contact section styles
--------------------------------------------------------------*/

.contactSectionDiv{
  text-align: center;
  padding-top: 30%;
}

.contactSectionTitle{
  color: #282828;
  font-size: 35px;
}

.contactParagraph{
  color: #282828;
  font-size: 20px;
  padding: 3%;
}

.logosDiv{
  padding-top: 20px;
  padding-bottom: 30px;
}

#codewarsBadge{
  width: 280px;
  height: auto;
  padding-bottom: 22px;
}

.messageError{
  color: #832017;
  padding: 10px;
  border: solid;
  width: 300px;
  margin: 0 auto;
}

.websiteLinkStyle{
  font-size: 2.5em !important;
  color: #282828;
  padding-left: 5%;
}

.githubLogoStyle{
  font-size: 3.3em !important;
  color: #282828;
  padding-left: 4%;
}

.messageSentStyle{
  color: #2bba4c;
  padding: 10px;
  border: solid;
  width: 300px;
  margin: 0 auto;
}

/*------------------------------------------------------------
       Media Queries
--------------------------------------------------------------*/

@media (min-width: 0px) and (max-width: 650px) {
  #codewarsBadge{
    width: 300px !important;
  }
}
