html{
  font-family: 'Quicksand', sans-serif;
  background-color: #F9F9F9;
}

body{
  margin: 0px;
}

.sample{
  margin-left: auto;
	margin-right: auto;
	width: 400px;
}

a{
  text-decoration: none;
  color: #DDDDDD;
}

hr{
  width: 82%;
}

.fa-3x{
  padding-top: 300%;
}

/*------------------------------------------------------------
       Media Queries
--------------------------------------------------------------*/

@media (min-width: 0px) and (max-width: 650px) {

  .signature{
    margin-left: 0% !important;
  }

  .fa-3x{
    font-size: 1.2em !important;
  }

  #codewarsBadge{
    width: 300px !important;
  }

  /*.projectDescription{
    font-size: 1px !important;
  }*/

  /*.projectName{
    font-size: 15px !important;
  }*/

  /*.github, .laptop{
    font-size: 2.0em !important;
  }*/

  .aboutMeSection{
    padding-top: 78px !important;
  }

  .sideBar{
    width: 39% !important;
  }

  .closeIcon{
    padding-right: 43% !important;
  }

  .fa-chevron-circle-right{
    margin-left: 42% !important;
  }

  .fa-chevron-circle-left{
    margin-left: -80% !important;
  }
}
